@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-display: "Roboto","sans-serif";
    --breakpoint-3xl:1920;
    --color-primary:#875cf5;
}
@layer base{
    html{
        font-family: var(--font-display);
    }

    body{
        background-color: #fcfbfc;
        overflow-x: hidden;
    }

}